.bg_future {
}

.bg_stars {
  background-image: linear-gradient(0deg, #00dedc, #115d89, #080f1c);
}

.star {
  position: absolute;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 5s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}